html,
body {
    font-family:sans-serif;
    height:100%;
    width:100%;
    background-color:black;
    padding:0px;
    margin:0px;
    color:white;
}

#main-fragment {
    display:flex;
    flex-direction: column;
    height:100%;
    width:49.9%;
    overflow-y: auto;
}


#detail-fragment-body {
    width:100%;
    overflow-y: auto;
}

#back-button {
    display:none;
}
@media all and (orientation:landscape) {
    #detail-fragment {
        position:absolute;
        height:100%;
        width:49.9%;
        top:0px;
        right:0px;
    }
}

@media all and (orientation:portrait) {
    #main-fragment {
        width:100%;
    }
    #detail-fragment {
        width:100%;
        height:100%;
        left:0px;
        top:0px;
        position:absolute;
        display:none;
        background-color:black;
        
    }
    
    #detail-fragment-body {
        position:absolute;
        top:0px;
        bottom:2.2em;
    }
    
    #back-button {
        display:block;
        position:fixed;
        bottom:0px;
        left:0px;
        width:100%;
        text-align:center;
        padding:0.6em;
        opacity:0.65;
        background-color:#19469D;
        cursor:pointer;
    }
    #back-button:hover {
        opacity:1;
    }
}

#play-button {
	/*background-color:#800000;*/
	font-size:1.5em;
	text-align:center;
	/*padding:10px;*/
        height:1.7em;
    cursor: pointer;
}
#tool-bar {
    display:flex;
}

#tool-bar > div {
    flex-grow: 1;
    padding:15px;
    cursor: pointer;
    border:1px solid #444444;
    font-size:0.8em;
    opacity:0.65;
}
.tool-bar-caption {
    font-size:0.6em;
}

#tool-bar div:hover {
    opacity:1;
}
#save-button {	
       	flex-grow:0 !important;
}

#key-button, #chords-button {
	border-left:1px solid #AAAAAA;
        cursor: pointer;
}
#beats-button {
        cursor: pointer;
}

.part, #song-controls {
	right:2px;
	display:flex;
	border:1px solid #000088;
	border-radius:5px;
	margin:1px;
}

.part {
	flex-grow:1;
        cursor: pointer;
}

#song-controls div {
	float:clear;
	padding:10px;
	flex:1 1 0;
	text-align:center;
        opacity:0.65;
}

#key-button {
    flex-grow:1.5 !important;
}

#part-list {
	flex-grow:1;
	display:flex;
	flex-direction:column;
}

.part-button, .part-mute-button, .part-options-button {
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    justify-content:center;
    align-content:center;
    flex-direction:column; /* column | row */

}

.part-button {
	flex-grow:8;
	text-align:center;
	background-color:#444444;
	padding:20px;
}

.part-mute-button {
	background-color:green;
        opacity:1 !important;
}
.part-mute-button:hover {
	opacity:0.65 !important;
}
#main-fragment-bottom-row div, #song-controls div, .part div {
	opacity:0.65;
}
#main-fragment-bottom-row div:hover, #song-controls div:hover, .part div:hover {
	opacity:1;
}

#instrument-surface {
    height:99%;
    width:100%;
    display:none;
}
#beats-fragment, #save-fragment, #add-part-fragment {
    width:100%;
    text-align:center;
    font-size: 1.5em;
    display:none;
}

#beats-fragment input {
    width:60%;
}

#mix-fragment {
	display:none;
	flex-direction:column;
        height:100%;
        
}
.mixer-part {
    flex-grow:1;
    height:5px;
    border:1px solid #000088;
    border-radius:5px;
    margin:4px;
    position:relative;
    padding:4px;
}

.mixer-part-volume {
    width:100%;
    height:65%;
    display:block;
    border-bottom: 1px solid #AAAAAA;
}
.mixer-part-warp {
    width:50%;
    height:35%;
    border-right: 1px solid #AAAAAA;
    display:block;
}
.mixer-part-pan {
    width:50%;
    height:35%;
    display:block;
    right:0px;
    bottom:-1px;
    position:absolute;
    
}


#key-fragment {
    display:none;
    flex-direction:row;
    width:100%;
    height:100%;
}
#key-list {
    
    flex-grow:1;
    display:flex;
    flex-direction: column;
    
}
#scale-list {
    flex-grow: 1;
    display:flex;
    flex-direction: column;    
}

#scale-list div:hover, #key-list div:hover, .chord-select-button:hover {
    background-color:#000022;
    opacity:1;
}

.selected-list-item {
    background-color:#000044;
}
.selected-list-item:hover {
    background-color:#000088 !important;
}

#scale-list div, #key-list div {
    opacity:0.8;
    flex:auto;
    cursor:pointer;
    border-radius: 5px;
    border:1px solid #000088;
    display:flex;
    justify-content: center;
    padding-top: 10px;
}

#saved-url {
    width:90%;
}

#add-triangle-osc-button, #add-saw-osc-button, #add-sine-osc-button, #add-square-osc-button {
    padding:0.3em;
    font-size:0.8em;
    border:1px solid white;
    background-color:#444444;
    cursor:pointer;
}

#osc-buttons {
    padding:0.3em;
}

#part-options-fragment {
    width:100%;
    display:none;
}

#part-options-delay-time, #part-options-delay-level {
    width: 100%;
    height:40px;
    background-color: #444444;
}

.small-link {
    font-size:0.6em !important;
}

#chords-fragment {
    flex-direction: column;
    height:100%;
    display:none;
}

.chord-select-button {
    flex-grow:1;
    text-align:center;
    border:1px solid #000088;
    cursor:pointer;
}

#chords-fragment-buttons {
    display:flex;
    text-align: center;
}

#chords-fragment-buttons div {
    padding:1em;
}

#chords-fragment-chords-view {
    flex-grow: 2;
    border-left:1px solid #888888;
    border-right:1px solid #888888;
}

#chords-fragment-append-button, #chords-fragment-clear-button {
    cursor:pointer;
    opacity:0.8;
}
#chords-fragment-append-button:hover, #chords-fragment-clear-button:hover {
    background-color:#000022;
    opacity:1;
    
}

#chords-fragment-list {
    flex-grow:2;
    display:flex;
    flex-direction: column;
}

.selected-option {
    background-color:#000044 !important;
}

#main-fragment-bottom-row {
    display:flex;
}

#main-fragment-bottom-row div {
    flex-grow:1;
    cursor:pointer;
    text-align:center;
    padding:20px;

}

#main-fragment-user-button {
    flex-grow:0 !important;
}

#user-fragment, #song-fragment {
    display:none;
}

.detail-fragment-body {
    margin-left:2em;
    margin-right:2em;
}

#user-login-invalid {color:red; display:none;}

#user-info {
    display:none;
}

.soundset-list-item {
    text-align: left;
    border-top: 1px solid #888888;
    cursor:pointer;
    padding:0.4em;
    font-size: 0.7em;
    opacity:0.8;
    
}
.soundset-list-item:hover {
    opacity:1;
    background-color:#444444;
}

.current-chord {
    background-color:#D00000;
}