body {
   margin:0px;
   background-color: #1f1f1f;
   color:white;
   font-family: Arial, Helvetica, sans-serif;
}

.main-title-bar {
   background-color:#282828;
   top:0px;
   width:100%;
   position:fixed;
   z-index:1;
}
.main-title-bar-content {
   padding:10px;   

}
.main-page-link {
   text-decoration:none;
   display:inline-block;
}
.main-title-open {
   color:#FFFF88;
}
.main-title-media {
   color:#88FFFF;
}
.main-title-gallery {
   color:#FFFFFF;
}

.main-footer-bar {
   font-size: 0.7em;
   background-image: linear-gradient(#888888, #333);
   bottom:0px;
   width:100%;
   position:fixed;
   z-index:1;
   display:none;
   opacity:0.66;
}
.main-footer-bar:hover {
    opacity:1.0;
}

.main-title-bar-right {
   float:right;
}

.main-title-bar a {
   text-decoration: none;
   color:white;
   padding-left:8px;
}
.main-nav-drawer-icon {
   cursor: pointer;
}
.title-bar-user-menu {
   cursor: pointer;
   display:none;
   line-height:0.6em;
   font-size:2em;
}

.main-body {
   margin-top: 39px;
   display:flex;
}


.main-nav {
   padding-top:8px;
   width:200px;
   background-color:#282828;
   color:white;
   position: fixed;
}
.main-nav ul {
   list-style-type: none;
   margin:0px;
   padding:0px;
}
.main-nav a {
   display: block;
   color:white;
   padding:14px 24px ;
   text-decoration: none;
}

.main-nav li:hover {
   background-color:#888888;
}

.main-column {
   flex-grow: 1;
   padding:16px 20px;
   margin-left:200px;
}

@media (max-width:750px){
   .main-body {
      display: block;
   }
   .main-column {
      width:90%;
      margin:auto;
   }
   .main-nav {
      display:none;
      position: absolute;
      width:80%;
      z-index: 1;
   }
}

.dialog {
   background-color:white;
   padding: 20px;

}

.feed-options {
   display: flex;
   flex-wrap: wrap;
}
.feed-options select {
   flex-grow: 1;
   margin: 2px;
}
.feed-options input {
   flex-grow: 2;
   margin: 2px;
}