html {
   height:100%;
}
body {
   height:100%;
   margin:0px;
   background-color: #1f1f1f;
   color:white;
   font-family: Arial, Helvetica, sans-serif;
   display: flex;
   flex-direction: column;
}

header, .header-shadow {
   background-color:#282828;
   padding: 10px;
   display:flex;
}
.header-shadow {
   display:none;
}
header a {
   text-decoration: none;
   color:white;
}

.main-description {
	text-align: center;
	flex-grow: 2;
	font-style: italic;
	font-size: 80%;
}

.title-bar-user-controls {
   margin-left: auto;
}
.main-title-open {
   color:#FFFF88;
}
.main-title-media {
   color:#88FFFF;
}
.main-title-gallery {
   color:#FFFFFF;
}

.main-body {
   width:90%; 
   margin:0 auto; 
}

.main-nav {
   padding-top:8px;
   width:150px;
   min-width:120px;
   background-color:#282828;
   color:white;
}
.main-nav ul {
   list-style-type: none;
   margin:0px;
   padding:0px;
}
.main-nav a {
   display: block;
   color:white;
   padding:14px 24px ;
   text-decoration: none;
}

.main-nav li:hover {
   background-color:#888888 !important;
}

.dialog {
   background-color:white;
   padding: 20px;

}

.feed-options {
   display: flex;
   flex-wrap: wrap;
}
.feed-options select {
   flex-grow: 1;
   margin: 2px;
}
.feed-options input {
   flex-grow: 2;
   margin: 2px;
}

.main-nav-drawer-icon {
   display: none;
}

.is-mobile {
   position:absolute;
   width: 0px;
   height: 0px;
   top: -1000px;
}

@media (max-width:750px){
   .is-mobile {
      width:1px;
   }
   .main-nav-drawer-icon {
      cursor: pointer;
      display:inline-block;
      margin-right: 6px;
   }
   .main-description {
      display:none;
   }
}

