body {
   margin:0px;
}

.main-title-bar {
   font-size: 1.25em;
   background-image: linear-gradient(#888888, #333);
}

.main-title-bar-right {
   position:absolute;
   top:10px;
   right:10px;
   font-size: 0.8em;
   color:white;
}

.main-title-bar-content {
   max-width:80%;   /*950px;*/
   margin:auto;
   padding:10px;   
   position:relative;
}

.main-page-link {
   text-decoration:none;
}

.main-title-open {
   color:#FFFF88;
}
.main-title-media {
   color:#88FFFF;
}
.main-title-gallery {
   color:#FFFFFF;
}

.title-bar-user-controls {
   border:0px solid #888888;
   padding:3px;
}

.title-bar-user-controls a {
   color:white;
   text-decoration:none;
}

.main-body {
   max-width:850px;
   margin:auto;
   position:relative;
}

.main-description {
   font-size: 1.5em;
   padding:18px;
   text-align:center;   
}

.main-search-area {
   padding:10px;
   width:90%;
   margin:auto;
   margin-top:10px;
}

.main-search-input {
   font-size:16pt;
   width:65%;
}

.main-search-area button {}
.main-search-submit {
  font-size:16pt;
  width:25%;
}

.main-learn-more {
   font-size:1em;
   text-align:center;
}

.toc {
   margin-top:20px;
}

.toc-page {
   width:50%;
   float:left;
}

.main-invitation {
   font-size: 1.4em;
   padding:8px;
   text-align:center;   
   color:#505050;
   font-style:italic;
}

.main-separator {
   text-align:center;
   margin:30px auto;
   height:1px;
   width:70%;
   background-color:#CCCCCC;
}

.main-create-area {
   text-align:center;
}

.main-create-something {
   color:black;
   text-decoration:none;
   font-size:1.2em;
   font-family: Helvetica;
   display:inline-block;
   border:1px solid black;
   border-radius:2px;
   width:30%;
   padding:15px;
   margin:15px;
   background-image: linear-gradient(#DDD, #88FFFF);
}

.main-create-something:hover, .main-create-something-easy:hover {
   background-image: linear-gradient(#FFF, #88FFFF);

}


.main-featured {
   font-family: Helvetica;  
}


.share-window-background {
   position:absolute;
   left:0px;
   top:0px;
   width:100%;
   height:100%;
   background-color:black;
   opacity:0.7;
}

.share-window {
   background-color:white;
   opacity:1;
   position:absolute;
   width:60%;
   height:60%;
   left:15%;
   top:15%;
   padding:2%;
}

.share-window input {
   position:relative;
   width:80%;
   left:10%;
}

.share-window-social-icons {
   position:relative;
   border:1px solid black;
   width:80%;
   height:50%;
   left:10%;
}

.share-window-social-icon {
   display:inline-block;
   margin:5%;
   width:23%;
   height:60%;
   background-size:100% 100%;
   background-repeat:no-repeat;
   border-radius:8px;
   border:1px solid #808080;
}

