.omg-viewer-canvas {
   width:100%;
}
.omg-viewer {
   font-family: Arial, Helvetica, sans-serif;
   padding: 0px;
   border:1px solid #808080;
   font-size:90%;
   color:black;
   background: rgba(0, 0, 0, 0) linear-gradient(135deg, rgb(249, 241, 232) 0%, rgb(205, 214, 227) 100%) repeat scroll 0% 0%;
   
}
.omg-music-controls-button {
   display:inline-block;
   margin-right: 0 5px;
   text-decoration: none;
   color:darkblue;
   cursor: pointer;
   border:1px solid transparent;
   padding:0.4em;
}
.omg-thing-right-data {
   float: right;
   padding:5px;
}
.omg-music-controls-play-button, .omg-thing-title, .omg-thing-user {
   display:inline-block;
}
.omg-music-controls-play-button {  
   text-align:center;
   position:relative;
   display:inline-block;
   height:38px;
   width:38px;
   border:2px solid #888888;
   border-radius:100%;
   font-size:1.7em;
   font-style:bold;
   cursor:pointer;
   margin:4px;
   line-height: 32px;
}

.omg-music-controls-play-button:hover {
   border:2px solid black;
}

.beat-marker {
   position:absolute;
   background-color:#4fa5d5;
   top:0px;
   left:0px;
   bottom:0px;
   width:0px;
   opacity:0.6;
}
.omg-thing-title {
   top:7px;
   left:55px;
   position:absolute;
}
.omg-thing-votes {
   margin:0 5px;
}
.omg-thing-user {
   font-size:0.7em;
   font-style:italic;
   top:27px;
   left:55px;
   position:absolute;
}

.omg-music-controls-button:active {
   border:1px solid white;
   color:white;
   background:black;
}

.omg-music-controls-play-button:active {
   border:2px solid white;
   color:white;
   background:black;
}

.omg-thing-playcount {
   padding:0.4em;
   font-family: Helvetica;
   font-size: 0.8em;
   border:1px solid transparent;
   margin:0 5px;
   float:right;
}

.omg-music-controls-button:hover {
   border:1px solid #808080;
}


.omg-thing-created-at {
   position:relative;
   width:90px;
   font-family: Helvetica;
   font-style:italic;
   opacity:0.7;
   font-size:0.9em;
}
.site-tools {
   text-align: center;
}
.site-tools a {
   text-decoration: none;
   color:white;
   padding:5px;
   font-size:110%;
}
.site-tools a:hover {
   text-decoration: underline;
}
.tools-separator {
   color: #808080;
}

.loader {
   -webkit-animation: spin 1s linear infinite;
   animation: spin 1s linear infinite;
   border: 3px solid #ddd;
   border-top: 3px solid #42a5f5;
   border-radius: 50%;
   height: 38px;
   width: 38px;
}
  
@keyframes spin {
   to {
       border-top-color: #FFFF88;
       -webkit-transform: rotate(360deg);
       transform: rotate(360deg);
   }
}

.tip-jar-canvas {
    width:100px;
    margin: 20px auto;
    height:100px;
}

